<div class="menu-bar__container">
    <div class="menu-bar__logo">
        <img 
            src="assets/ps-logo.png"
            alt="playstation logo"
            width="140px"
            height="32px"
            >
    </div>
    <div class="menu-bar__item">
        <ul>
            <li></li>
            <a href="https://www.linkedin.com/in/gabrielba10/" target="_blank">Linkedin</a>
            <li></li>
            <a href="https://github.com/G4brielBarbosa" target="_blank">Github</a>
        </ul>
    </div>
</div>
